.img_media{
    width: 360px;
    height: 416px;
}

.grid_media{
    position: absolute;
    top: 75px;
    margin: 0px -340px;
    display: grid;
    grid-template-columns: repeat(3, 430px);
   grid-template-rows: repeat(3, 448px)
}

.btn_load{
    position: relative;
    right: 195px;
    left: 528px;
    top:105px;
    width: 170px;
    height: 48px;
    color: #391400;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #FFFFFF ;

    /* тень */

   /*  box-shadow: 10px 5px 5px ; */
}

/*  движения кнопки */

/* .btn_load:hover{
    content: '';
    transition: 0.1 all;
    transform: translateX(10px); 
} */

.title{
    position: absolute;
    width: 218px;
    height: 53px;
    font-size: 40px;
    color: #FFFFFF;
    margin: -101px 40px;


}

.title_btn{
    position: absolute;
    width: 84px;
    height: 38px;
    border-radius: 20px;
    color: black;
    background-color: white;
    text-align: center;
    margin: -163px 43px;
    
}


